body {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(224,119,179,1) 51%, rgba(248,253,45,1) 100%);
}

li{
    font-size: 30px;
    color: pink;
}

h1{
    color:teal;
    font-weight: 800;
}